<div class="client-heading">
  Enter Your Information
</div>
<br>
<div class="container">
  <div class="col-14 centered">
    <%= form_for user, url: form_submit_path do |f| %>
      <div class="row">
        <div class="col-4">
          <%= f.label :first_name, "First Name" %>
        </div>
        <div class="col-4">
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.label :last_name, "Last Name" %>
        </div>
        <div class="col-4">
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.label :email %>
        </div>
        <div class="col-4">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.label :password %>
        </div>
        <div class="col-4">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.label :password_confirmation, "Confirm your Password" %>
        </div>
        <div class="col-4">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <% if user_type == "client" %>
        <div class="row">
          <div class="col-4">
            <%= f.label :trainer_email, "Trainer's Email" %>
          </div>
          <div class="col-4">
            <% if trainer_email.nil? %>
              <%= text_field_tag :trainer_email %>
            <% else %>
              <%= text_field_tag :trainer_email, trainer_email %>
            <% end %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="row">
        <div class="col">
          <%= f.submit "Register Account", class: "btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
