<div class="container">
  <div class="col-14">
    <div class="row">
      <h1><%= facade.client.first_name %> <%= facade.client.last_name %>'s Information</h1>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <% if !facade.client.meal_plan %>
      <%= button_to "Create Client's Meal Plan", new_trainer_client_meal_plan_path(facade.client), method: :get, class: "btn-primary" %>
    <% else %>
      <%= button_to "Change Client's Meal Plan", edit_trainer_client_meal_plan_path(facade.client), method: :get, class: "btn-primary" %>
    <% end %>
   </div>
  <div class="row">
    <%= button_to "Send Message to Client", trainer_client_messages_new_path(client: facade.client), method: :get, class: "btn-primary" if facade.client.phone_num? %>
  </div>
  <div class="row">
    <%= button_to "Back To Trainer's Client List", trainer_dashboard_path, method: :get, class: "btn-primary" %>
  </div>
</div>
