<div class="container">
  <div class="col-14 centered">
    <br>
    <%= form_tag login_path, url: {action: 'create'} do %>
    <div class="row">
      <div class="col-3">
        <%= label_tag :email %>
      </div>
      <div class="col-3">
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= label_tag :password %>
      </div>
      <div class="col-3">
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="row">
      <%= submit_tag 'Log In', class: "welcome btn-primary btn-xl" %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to "Sign in with Google", google_oauth_path, class: "welcome google_button btn" %>
    </div>
    <div class="row">
      <%= link_to "Register", register_path, class: "welcome btn-primary btn-xl" %><br>
    </div>
    <div class="row">
      <%= link_to "About Us", about_path, class: "welcome btn-primary btn-xl" %>
    </div>
  </div>
</div>
