<div class="container">
  <div class="col-14 centered ml-auto mr-auto">
    <% @meal_plan.errors.full_messages.each do |msg| %>
      <div class="alert alert-warning" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <h1 class="client-heading">Creating <%= @client.first_name %> <%= @client.last_name %>'s Meal Plan</h1>
    </div>
    <br>
    <%= form_for [@client.trainer, @client, @meal_plan] do |f| %>
      <div class="col">
        <%= f.label "Calories Per Meal" %>
      </div>
      <div class="col">
        <%= f.number_field :calories %><br>
      </div>
      <div class="col">
        <%= f.label "Excluded Ingredients" %>
      </div>
      <div class="col">
        <%= f.text_field :excluded %>
      </div>
      <br>
      <p>Restrictions</p>
      <h4>Please Choose One of the Following if Requested by Client:</h4>
      <div class="row">
        <div class="col">
          <%= f.check_box(:vegetarian, {}, "true", "false") %>
          <%= f.label(:vegetarian, "Vegetarian", value: true) %>
        </div>
        <div class="col">
          <%= f.check_box(:vegan, {}, "true", "false") %>
          <%= f.label(:vegan, "Vegan", value: true) %>
        </div>
      </div>
      <br>
      <p>Choose Diet Type</p>
      <div class="row centered ml-auto mr-auto">
        <div class="col">
          <%= f.radio_button(:diet_type, 'high-protein') %>
          <%= f.label(:diet_type, "High Protein", value: 'high-protein') %>
        </div>
        <div class="col">
          <%= f.radio_button(:diet_type, 'low-carb') %>
          <%= f.label(:diet_type, "Low Carb", value: 'low-carb') %>
        </div>
        <div class="col">
          <%= f.radio_button(:diet_type, 'low-fat') %>
          <%= f.label(:diet_type, "Low Fat", value: 'low-fat') %>
        </div>
        <div class="col">
          <%= f.radio_button(:diet_type, 'balanced') %>
          <%= f.label(:diet_type, "Balanced", value: 'balanced') %>
        </div>
      </div>
      <br>
      <%= f.submit "Create Meal Plan", class: "btn-primary" %>
      <% end %>
  </div>
</div>
