<h1>Creating <%= @client.first_name %> <%= @client.last_name %>'s Meal Plan</h1>
<%= form_for [@client.trainer, @client, @meal_plan] do |f| %>

  <%= f.label "Calories Per Meal" %>
  <%= f.number_field :calories %><br>

  <%= f.label "Exluded Ingredients" %>
  <%= f.text_field :excluded %>

  <h4>Restrictions</h4>
  <%= f.radio_button(:vegetarian, true) %>
  <%= f.label(:vegetarian, "Vegetarian", value: true) %>

  <%= f.radio_button(:vegan, true) %>
  <%= f.label(:vegan, "Vegan", value: true) %>

  <h4>Choose Diet Type</h4>
  <%= f.radio_button(:diet_type, 'high-protein') %>
  <%= f.label(:diet_type, "High Protein", value: 'high-protein') %>

  <%= f.radio_button(:diet_type, 'low-carb') %>
  <%= f.label(:diet_type, "Low Carb", value: 'low-carb') %>

  <%= f.radio_button(:diet_type, 'low-fat') %>
  <%= f.label(:diet_type, "Low Fat", value: 'low-fat') %>

  <%= f.submit "Create Meal Plan" %>
<% end %>
