<div class="container">
  <div class="col-14">
    <% @log.errors.full_messages.each do |msg| %>
      <div class="alert alert-warning" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <h1 class="client-heading centered">Log Your Weight!</h1>
    </div>
    <br>
    <%= form_for @log do |f| %>
      <div class="row centered">
        <div class="col">
          <%= f.label :weight %>
        </div>
        <div class="col">
          <%= f.number_field :weight %>
        </div>
      </div>
      <br>
      <div class="row centered">
        <%= f.submit "Log Weight", class: "btn-primary mr-auto ml-auto" %>
      </div>
    <% end %>
  </div>
</div>
