<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Rajdhani:400,600&display=swap" rel="stylesheet">
  <head>
    <title>CalorieCoach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="flash-message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "#{name} alert alert-dark"%>
      <% end %>
    </div>

    <% if !@hide_nav %>
      <section class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-brand mr-auto navbar-header"><img src="https://i.imgur.com/pcoR7wb.png" alt="hello" width="350"/></span>
        <ul class="navbar-nav">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, class: "nav-link" %>
          </li>
          <% end %>
          <% if current_client %>
          <li class="nav-item">
            <%= link_to "Profile", client_dashboard_path, class: "nav-link" %>
          </li>
          <% elsif current_trainer %>
          <li class="nav-item">
            <%= link_to "Profile", trainer_dashboard_path, class: "nav-link" %>
          </li>
          <% end %>
      </section>
      <br>
    <% end %>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
